.schedules {
  @bg: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAIAAAADnC86AAAAr0lEQVRYw8XYMQ7AMAgDQOqF//82bF0qVa3SJiGA+cCJzfbRWjMzcZ2qivdAUUUEFNXMQFE9H4eoy3CUugYHqgtwrDoLh6tTcIY6hpPUAZyn/sGp6iecrfbhArUD16hvuEx9wJXqDRerF1yviggoqj/6bKqqCorq/3g/m4KieuCoHA6KugbHdg5Q1Fk4o1+Boo7hvC4JivoHZ/dmUNQ+XLMRgKK+4co9BBT1huu3nxOZcHs4sp3yAwAAAABJRU5ErkJggg%3D%3D);;

  .layers{
    overflow: hidden;
    >.body{
      display: flex; min-height: 200px;
      width: 100%;
      >.title{
        flex:0 0 auto;width: 300px;
        border: 1px solid #e9eaec;
        border-right: none;
      }
      >.content{
        flex:1 0 auto;
      }
    }

  }
  .calendar {
    position: relative;
    display: flex;
    border: 1px solid #e9eaec;
    //overflow: hidden;
    .block {
      position: relative;
      border-right: 1px solid  #dddee1;
      min-height: 200px;
      height: 100%;
      display: flex;
      background-image: @bg;
      .title {
        position: absolute;
        left: 2px;
        top: 2px;
        display: flex;
        .firstday{
          position: absolute;
          top: -20px;
          width: 100px;
        }
      }
      .title-secondary {
        width: 25%;
        border-right: 1px solid #e9eaec;
      }
    }
    .events {
      height: 20px;
      position: absolute;
      left: 0px;
      cursor: pointer;
      //border-radius: 2px;
      border-left:1px solid transparent;
      border-right:1px solid transparent;
      &:hover{
        //background-image: linear-gradient(to bottom, #f33, #e60000);
        border-left:1px solid #fff;
        border-right:1px solid #fff;
      }

      .ivu-poptip{
        width: 100%;
        .ivu-poptip-rel{
          width: inherit;
          .poptip-body{
            height: 20px;
            width: inherit;
            text-align: left;
            color: #fff;
            padding-left:2px;
            overflow: hidden;
          }
        }
      }
     .poptip-tools{
       border-top:1px solid #e9eaec;
       button.ivu-btn{
         width: 100%;
         margin-top: 5px;
       }
     }

    }
  }
  .schedules-right{
    button.ivu-btn{
      width: 100%;
      text-align: left;
    }
  }
}